<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/logo.png"/>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="../../static/carrousel.js"></script>
    <script src="../../static/textSwapper.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="section welcome">
        <div class="content L_vh">
            <div class="textSwapper">
                {% block textSwapper__items %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="section about">
        <div class="content L_vh">
            <div class="carrousel">
                <div class="carrousel__content">
                {% block carrousel__about__items %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="section mashup">
        <div class="content XL_vh">
            {% block projects_mashup %}{% endblock %}
        </div>
    </div>

    <div class="section projects__about">
        <div class="content">
            {% block cryptX_2000__about %}{% endblock %}
            {% block roll_a_ball__about %}{% endblock %}
            {% block starbound_fan_website__about %}{% endblock %}
            {% block flappy_pigeon__about %}{% endblock %}
            {% block minecraft_website__about %}{% endblock %}
        </div>
    </div>

    <div class="section__contact">
        <div class="content">
            {% block contact %}{% endblock %}
        </div>
        
        <a href="https://github.com/Mineplayed" target="_blank">
            <div class="contact">
                <img src="../../static/github.png" alt="github icon">
                <h1>@Super_BN</h1>
            </div>
        </a>
    </div>
</body>
</html>