<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="../static/carrousel.js"></script>
    <script src="../static/textSwapper.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="section welcome">
        <div class="content">
            <div class="textSwapper">
                {% block textSwapper__items %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="section about">
        <div class="content">
            <div class="carrousel">
                <div class="carrousel__content">
                {% block carrousel__about__items %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="section mashup">
        <div class="content">
            {% block projects_mashup %}{% endblock %}
        </div>
    </div>

</body>
</html>