:root {
    --primary: #00ACF5;
    --secondary: #2D8DB5;
    --tertiary: #3B6475;
    --complementaty-first: #E49924;
    --complementaty-second: #BC975B;

    --light-txt-color: #fffdfa;
    --dark-txt-color: #333;

    --temp-color: #000000;
    
    --img-minecraftwebsite: url("../static/minecraft_website.png");
    --img-minecraftwebsite-code: url("../static/minecraft_website_code.png");

    scrollbar-width: none;
}

a { text-decoration: none;
    color: var(--light-txt-color); }

* {font-family: 'Open Sans', sans-serif;}

body {
    margin: 0;
    padding: 0;
    
    cursor: default;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 150px auto;
    gap: 32px;
}

/* Sections */

.section {
    min-height: 100vh;
}

.section .content {
    margin: 0 auto;
    max-width: 1000px;
    height: 100vh;
}

.section.welcome {  
    color: var(--primary); 
    background-color: var(--light-txt-color);
}

.section.about {
    background-color: var(--secondary);
    color: var(--light-txt-color); 
}
/* Carrousel */

.carrousel,
.carrousel__content,
.carrousel__item,
.textSwapper,
.textSwapper__content,
.textSwapper__item
{
    width: 100%;
    height: 100%;
}

.carrousel, .textSwapper {
    position: relative;
}

.carrousel__content, .textSwapper__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

#welcome-carousel {
    flex-direction: column;
}

.carrousel__item, .textSwapper__item {
    flex: 1 0 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel__item h1, .textSwapper__item h1 {
    font-size: 9rem;
    text-align: center;

    margin: 0;
}

.carrousel__item p {
    text-align: justify;
    font-size: large;

    width: 80%;
}

.carrousel__nav {
    position: absolute;
    top: 50%;
}

.carrousel__nav.prev {
    transform: rotate(180deg);
}

.carrousel__nav span {
    font-size: 3rem;
}

.carrousel__nav.prev { left: 0; }
.carrousel__nav.next { right: 0; }

/* Cards */

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 80%;
    height: 50%;

    background-size: 100% 100%;
    color: var(--tertiary);

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25%;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0 0 10px 10px;
}

.mc__website { background-image: var(--img-minecraftwebsite); }
.mc__website--code { background-image: var(--img-minecraftwebsite-code); }

/* MASHUP section */

.section.mashup {
    background-color: var(--light-txt-color);
    color: var(--dark-txt-color);
}