:root {
    --primary: #91C8E4;
    --secondary: #749BC2;
    --tertiary: #4682A9;

    --card-title-background: rgba(255, 255, 255, 0.85);
    --card-infos-background: #4682A9;

    --html-color:  #e34c26 ;
    --css-color: #663399;
    --js-color: #f1e05a;
    --python-color: #3572a5;
    --batch-color: #8eb127;
    --c-sharp-color: #178600;

    --light-txt-color: #fffdfa;
    --dark-txt-color: #333;

    --shadow: rgba(0, 0, 0, 0.384);
    

    --temp-color: #000000;
    
    --img-placeholder: url("../static/img_placeholder.png");
    --img-minecraftwebsite: url("../static/minecraft_website.png");
    --img-minecraftwebsite-code: url("../static/minecraft_website_code.png");
    --img-Starbound-fan-website: url("../static/Starbound-fan-website.png");
    --img-CryptX-2000: url("../static/CryptX-2000.png");
    --img-pronote-grade-comp: url("");
    --img-Flappy-pigeon: url("../static/Flappy-pigeon.png");
    --img-roll-a-ball: url("../static/roll-a-ball.png");
}

a { text-decoration: none;
    color: var(--light-txt-color); }

* {font-family: 'Open Sans', sans-serif;}

body {
    margin: 0;
    padding: 0;

    cursor: default;
}


/**********************************
|                                  |
|             SECTION              |
|                                  |
***********************************/


.section {
    min-height: 100vh;
}

.section .content, .section__contact .contact {
    margin: 0 auto;
    max-width: 1000px;
}

.section.welcome {  
    color: var(--secondary); 
    background: var(--light-txt-color) url(./noise-pattern.png) repeat;
    position: relative;
}

.section.about {
    background: var(--tertiary) url(./noise-pattern.png) repeat;
    color: var(--light-txt-color);
}

.section.mashup {
    background: var(--light-txt-color) url(./noise-pattern.png) repeat;
    color: var(--secondary);
}

.section.projects__about {
    padding: 5% 0 5% 0;
    background: var(--primary) url(./noise-pattern.png) repeat;
    color: var(--light-txt-color);
}


/**********************************
|                                  |
|          ROW & COLLUMN           |
|                                  |
***********************************/


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.about .inverted_row { 
    border-radius: 0 20px 20px 0;
    box-shadow: 15px 10px 10px var(--shadow);
}

.row h1 { font-size: 8rem; }

.collumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
}

.collumn.inverted_collumn { flex-direction: column-reverse; }

.collumn.title { justify-content: center; }

.one_collumn { width: 75%; }
.two_collumn { width: 45%; }
.three_collumn { width: 30%; }

.collumn-img { 
    min-height: 100%;
    min-width: 100%;

    background-size: cover;
    background-position: center;

    border-radius: 20px 0 0 20px;
    box-shadow: -15px 10px 10px var(--shadow);
}

.inverted_row .projects__about__infos {
    border-radius: 20px 0 0 20px;
}

.inverted_row .collumn-img {
    border-radius: 0 20px 20px 0;
    box-shadow: 15px 10px 10px var(--shadow);
}

/**********************************
|                                  |
|            CARROUSEL             |
|                                  |
***********************************/

.carrousel,
.carrousel__content,
.carrousel__item,
.textSwapper,
.textSwapper__content,
.textSwapper__item
{
    width: 100%;
    height: 100%;
}

.carrousel, .textSwapper {
    position: relative;
}

.carrousel__content, .textSwapper__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

#welcome-carousel {
    flex-direction: column;
}

.carrousel__item, .textSwapper__item {
    flex: 1 0 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel__item h1, .textSwapper__item h1 {
    font-size: 9rem;
    text-align: center;

    margin: 0;
}

.carrousel__item p {
    text-align: justify;
    font-size: large;

    width: 80%;
}

.carrousel__nav {
    position: absolute;
    top: 50%;
}

.carrousel__nav.prev {
    transform: rotate(180deg);
}

.carrousel__nav span {
    font-size: 3rem;
}

.carrousel__nav.prev { left: 0; }
.carrousel__nav.next { right: 0; }


/**********************************
|                                  |
|               CARDS              |
|                                  |
***********************************/


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    background-size: 100% 100%;
    background-image: var(--img-placeholder);
    
    border-radius: 10px;
    box-shadow: 15px 10px 10px var(--shadow);
}


.collumn .card {
    margin-top: 10%;
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    transition: all .5s ease-in-out;
    background-color: var(--card-title-background);
    color: var(--tertiary);
    border-radius: 10px;
    
    transform: scaleY(0);
    transform-origin:  bottom; 
}

.card:hover .card__title {
    transform: scaleY(1);        
}

.card__infos {
    display: none;
    flex-direction: column;
    
    transition: all .5s ease-in-out;
    
    height: 100%;
    width: 100%;
    border-radius: 10px;

    background-color: var(--card-infos-background);
    color: var(--light-txt-color);

    transform: scaleY(0);
    transform-origin:  bottom; 
}

.card__infos * {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

.card__infos__text h2 {
    margin: 1% 0 1% 0;
}


/**********************************
|                                  |
|          Projects about          |
|                                  |
***********************************/


.projects__about .row {
    margin-top: 5%;
}

.projects__about__infos {
    background-color: var(--light-txt-color);
    box-shadow: 0 10px 10px var(--shadow);
    border-radius: 0 20px 20px 0;
}

.projects__about .collumn-img, .projects__about .row.inverted_row .collumn-img {
    box-shadow: 0 10px 10px var(--shadow);
}

.projects__about__infos__languages {
    width: 90%;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.projects__about__infos__languages * {
    margin: 0;
}

.projects__about__infos__bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projects__about__infos__bar--colors {
    border-radius: 10px;

    height: 90%;
    width: 90%;
}

.project__about__infos__bar__hover--year {
    transform: scaleY(0);
    transform-origin:  bottom; 
    transition: all .2s ease-out;
    
    border-radius: 10px;
    background-color: var(--card-title-background);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--tertiary);
    font-size: 4rem;
}


/**********************************
|                                  |
|              CONTACT             |
|                                  |
***********************************/


.contact {
    position: absolute;
    bottom: 0;
    right: 0;

    height: 5%;
    padding-bottom: 1%;
    padding-right: 1%;

    display: flex;
}

.contact h1 {
    margin: 0;

    color: var(--tertiary);
}

.contact img {
    height: 100%;
}


/**********************************
|                                  |
|             SHORTCUTS            |
|                                  |
***********************************/

.inverted_row { flex-direction: row-reverse; }
.inverted_collumn { flex-direction: column-reverse; }

.XL_vh { height: 150vh; }
.L_vh { height: 100vh; }
.M_vh { height: 40vh; }

.XXXL_h { height: 90%; }
.XXL_h { height: 80%; }
.XL_h { height: 70%; }
.L_h { height: 60%; }
.M_h { height: 40%; }
.S_h { height: 30%; }
.XS_h { height: 20%; }
.XXS_h { height: 10%; }

.Max_w { width: 100%; }
.XXL_w { width: 80%; }
.XL_w { width: 70%; }
.L_w { width: 60%; }
.M_w { width: 40%; }
.S_w { width: 30%; }

.mc__website { background-image: var(--img-minecraftwebsite); }
.mc__website--code { background-image: var(--img-minecraftwebsite-code); }
.starbound-fan-website { background-image: var(--img-Starbound-fan-website); }
.cryptX-2000 { background-image: var(--img-CryptX-2000); }
.flappy-pigeon { background-image: var(--img-Flappy-pigeon); }
.roll-a-ball { background-image: var(--img-roll-a-ball); }

.projects__about__infos__languages--text.html { color: var(--html-color);}
.projects__about__infos__languages--text.css { color: var(--css-color);}
.projects__about__infos__languages--text.js { color: var(--js-color);}
.projects__about__infos__languages--text.python { color: var(--python-color);}
.projects__about__infos__languages--text.batch { color: var(--batch-color);}
.projects__about__infos__languages--text.csharp { color: var(--c-sharp-color);}

.row__starbound-fan-website .projects__about__infos__bar--colors { background: linear-gradient(to right, var(--html-color) 54.2%, var(--css-color) 45.8%); }
.row__cryptx-2000 .projects__about__infos__bar--colors { background: linear-gradient(to right, var(--python-color) 99.2%, var(--batch-color) 0.8%); }
.row__flappy-pigeon .projects__about__infos__bar--colors { background: var(--c-sharp-color); }
.row__roll-a-ball .projects__about__infos__bar--colors { background: var(--c-sharp-color); }
.row__minecraft-website .projects__about__infos__bar--colors { background: linear-gradient(to right, var(--html-color) 50%, var(--css-color) 50%); }

.row__starbound-fan-website:hover .project__about__infos__bar__hover--year { transform: scaleY(1); }
.row__cryptx-2000:hover .project__about__infos__bar__hover--year { transform: scaleY(1); }
.row__flappy-pigeon:hover .project__about__infos__bar__hover--year { transform: scaleY(1); }
.row__roll-a-ball:hover .project__about__infos__bar__hover--year { transform: scaleY(1); }
.row__minecraft-website:hover .project__about__infos__bar__hover--year { transform: scaleY(1); }