:root {
    --primary: #91C8E4;
    --secondary: #749BC2;
    --tertiary: #4682A9;
    --complementaty-first: #E49924;
    --complementaty-second: #BC975B;

    --card-text-background: rgba(255, 255, 255, 0.85);

    --light-txt-color: #fffdfa;
    --dark-txt-color: #333;
    

    --temp-color: #000000;
    
    --img-placeholder: url("../static/img_placeholder.png");
    --img-minecraftwebsite: url("../static/minecraft_website.png");
    --img-minecraftwebsite-code: url("../static/minecraft_website_code.png");
    --img-Starbound-fan-website: url("../static/Starbound-fan-website.png");
    --img-CryptX-2000: url("../static/CryptX-2000.png");
    --img-pronote-grade-comp: url("");
    --img-Flappy-pigeon: url("../static/Flappy-pigeon.png");
    --img-roll-a-ball: url("../static/roll-a-ball.png");

    scrollbar-width: none;
}

a { text-decoration: none;
    color: var(--light-txt-color); }

* {font-family: 'Open Sans', sans-serif;}

body {
    margin: 0;
    padding: 0;
    
    cursor: default;
}

/**********************************
|                                  |
|             SHORTCUTS            |
|                                  |
***********************************/

.One_vh { height: 100vh; }
.XL_h { height: 70%; }
.L_h { height: 60%; }
.M_h { height: 40%; }
.S_h { height: 30%; }

.L_w { width: 50%; }
.M_w { width: 40%; }
.S_w { width: 25%; }

/**********************************
|                                  |
|             SECTION              |
|                                  |
***********************************/

.section {
    min-height: 100vh;
}

.section .content {
    margin: 0 auto;
    max-width: 1000px;
}

.section.welcome {  
    color: var(--secondary); 
    background-color: var(--light-txt-color);
}

.section.about {
    background-color: var(--tertiary);
    color: var(--light-txt-color); 
}

.section.mashup {
    background-color: var(--light-txt-color);
    color: var(--secondary);
}

/**********************************
|                                  |
|          ROW & COLLUMN           |
|                                  |
***********************************/

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: 3%;
}

.row h1 { font-size: 8rem; }

.collumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
}

.collumn.title { justify-content: center; }

.one_collumn { width: 75%; }
.two_collumn { width: 45%; }
.three_collumn { width: 30%; }

/**********************************
|                                  |
|            CARROUSEL             |
|                                  |
***********************************/

.carrousel,
.carrousel__content,
.carrousel__item,
.textSwapper,
.textSwapper__content,
.textSwapper__item
{
    width: 100%;
    height: 100%;
}

.carrousel, .textSwapper {
    position: relative;
}

.carrousel__content, .textSwapper__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

#welcome-carousel {
    flex-direction: column;
}

.carrousel__item, .textSwapper__item {
    flex: 1 0 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel__item h1, .textSwapper__item h1 {
    font-size: 9rem;
    text-align: center;

    margin: 0;
}

.carrousel__item p {
    text-align: justify;
    font-size: large;

    width: 80%;
}

.carrousel__nav {
    position: absolute;
    top: 50%;
}

.carrousel__nav.prev {
    transform: rotate(180deg);
}

.carrousel__nav span {
    font-size: 3rem;
}

.carrousel__nav.prev { left: 0; }
.carrousel__nav.next { right: 0; }

/**********************************
|                                  |
|               CARDS              |
|                                  |
***********************************/

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 80%;
    /* height: 50%; */

    background-size: 100% 100%;
    background-image: var(--img-placeholder);
    
    border-radius: 10px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.384);
}

.collumn .card {
    margin-top: 10%;
}

.card__title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    transition: all .5s ease;
    background-color: var(--card-text-background);
    color: var(--tertiary);
    border-radius: 10px;
    
    display: none;
}

.card__infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: all .5s ease;
    
    height: 100%;
    width: 100%;
    background-color: var(--card-text-background);
    border-radius: 10px;

    display: none;
}

.mc__website { background-image: var(--img-minecraftwebsite); }
.mc__website--code { background-image: var(--img-minecraftwebsite-code); }
.starbound-fan-website { background-image: var(--img-Starbound-fan-website); }
.flappy-pigeon { background-image: var(--img-Flappy-pigeon); }
.cryptX-2000 { background-image: var(--img-CryptX-2000); }
.roll-a-ball { background-image: var(--img-roll-a-ball); }