{% extends "admin/base_layout.html" %}

{% block title %}Portfolio{% endblock %}
 
<!-------------------------------------------
|                                            |
|                  WELCOME                   |
|                                            |
-------------------------------------------->    

{% block textSwapper__items %}

<div class="textSwapper__content" id="welcome-carousel">
    <div class="textSwapper__item"><h1>Bonjour</h1></div>
    <div class="textSwapper__item"><h1>Hello</h1></div>
    <div class="textSwapper__item"><h1>Hallo</h1></div>
    <div class="textSwapper__item"><h1>Hola</h1></div>
    <div class="textSwapper__item"><h1>Hej</h1></div>
    <div class="textSwapper__item"><h1>Ciao</h1></div>
    <div class="textSwapper__item"><h1>Yasou</h1></div>
    <div class="textSwapper__item"><h1>Bonjour</h1></div>
</div>
{% endblock %}

<!-------------------------------------------
|                                            |
|                  ABOUT                     |
|                                            |
-------------------------------------------->    

{% block carrousel__about__items %}

<div class="carrousel__item about__item">
    <h1>About me</h1>
    <p>My passion for technology started very early. At just <strong>8 years old</strong>, I built my very first website out of pure curiosity. 
        That simple project was the spark. At 9, I dove into Unity to understand how to create games. A year later, I 
        was building my own version of <strong>Flappy Bird</strong>, discovering both the joy (and frustration) of game development.</p>
    <p>As I grew older, I wanted to go further. I learned how to work with databases and then moved into web development 
        with Flask and Django. These frameworks opened the door to Python, a language I now use almost daily. Always 
        looking to push my limits, I jumped into <strong>deep learning</strong>. Understanding neural networks, working with datasets, 
        training models... it quickly stopped being just a hobby. It became a true passion.</p>
    <p>Today, I continue learning and developing projects that combine my core interests: artificial intelligence, web 
        development, and interactive systems. I love turning ideas into real solutions, exploring cutting-edge technologies, 
        and—most of all—building with purpose.</p>
</div>
<div class="carrousel__item about__item">
    <div class="card mc__website L_h">
        <div class="card__title">
            <h2>My first website</h2>
        </div>
    </div>    
</div>
<div class="carrousel__item about__item">
    <div class="card mc__website--code L_h">
        <div class="card__title">
            <h2>The code of this website</h2>
        </div>
    </div>
</div>

<div class="carrousel__nav prev">
    <span class="material-symbols-outlined">expand_circle_right</span>
</div>
<div class="carrousel__nav next">
    <span class="material-symbols-outlined">expand_circle_right</span>
</div>

{% endblock %}


<!-------------------------------------------
|                                            |
|                  MASHUP                    |
|                                            |
-------------------------------------------->


{% block projects_mashup %}

<div class="row S_h">
    <div class="collumn title one_collumn">
        <h1>Projects</h1>
        <!-- <p>Here are my different finished projects</p> -->
    </div>
</div>

<div class="row XL_h">
    <div class="collumn two_collumn">
        <div class="card S_h starbound-fan-website">
            <div class="card__title">
                <h2>Starbound fan website</h2>
            </div>
            <div class="card__infos">
                <h2>LOL</h2>
            </div>
        </div>
        <div class="card S_h flappy-pigeon">
            <div class="card__title">
                <h2>Flappy pigeon</h2>
            </div>
        </div>
    </div>

    <div class="collumn two_collumn">
        <div class="card S_h cryptX-2000">
            <div class="card__title">
                <h2>CryptX-2000</h2>
            </div>
        </div>
        <div class="card S_h roll-a-ball">
            <div class="card__title">
                <h2>Roll a Ball</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}