<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Portfolio</title>
</head>
<body>
    <!-- Welcome page -->
    <div class="welcome">
        <div class="content">
            <ul class="content__list">
                <li>Hallo</li>
                <li>Hello</li>
                <li>Bonjour</li>
                <li>Hola</li>
                <li>Ciao</li>
            </ul>
        </div>
        <a href="#about"><span class="material-symbols-outlined continue">arrow_drop_down_circle</span></a>
    </div>
    <!-- About me section -->
    <div class="row about" id="about">
        <div class="content">
            <div class="title">
                <h1>About Me</h1>
            </div>
            <div class="txt_container">
                <span class="material-symbols-outlined next_about">arrow_menu_close</span>
                <div class="txt">
                    <p>
                        I am a passionate web developer with a keen interest in creating dynamic and responsive web applications. 
                        My journey in web development began with a fascination for how websites work and the technologies behind them.
                        I enjoy learning new frameworks and languages to enhance my skills and deliver better user experiences.
                    </p><p>
                        I have worked on various projects, ranging from simple static websites to complex web applications.
                        I have experience in HTML, CSS, JavaScript, and various frameworks like Flask.
                        In my free time, I love exploring new technologies, contributing to open-source projects, and sharing knowledge with the community.
                    </p>
                </div>
                <span class="material-symbols-outlined last_about">arrow_menu_open</span>
            </div>
        </div>
        <div class="image">
            <img src="../static/about_pic.png" alt="Image of a man sitting">
        </div>
    </div>
</body>
</html>